|import { ClassAttributes, CSSProperties, ReactNode } from 'react';
|
|export interface #{componentName}Props<T> extends ClassAttributes<T> {
|   id?: string;
|   className?: string;
|   children?: ReactNode;
|   style?: CSSProperties;
|}
|
